<table style="border-collapse:collapse;width:800px">

    <tr>
        <td colspan="2" style="background-color:gray"><b>Informações do produto</b></td>
    </tr>

    <tr>
        <td style="width:500px">
            <b>Nome do produto</b><br>
            <!-- NOME DO PRODUTO -->
        </td>

        <td style="width:300px">
            <b>Marca</b><br>
            <!-- MARCA -->
        </td>
    </tr>

    <tr>
        <td>
            <b>Ingredientes</b><br>
            <!-- INGREDIENTES -->
        </td>

        <td>
            <b>Peso</b><br>
            <!-- PESO + UNIDADE -->
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <b>Recomendações</b><br>
            <!-- RECOMENDAÇÕES -->
        </td>
    </tr>

    <tr>
        <td colspan="2" style="background-color:gray"><b>Informações do produtor</b></td>
    </tr>

    <tr>
        <td colspan="2">
            <b>Nome do agricultor</b><br>
            <!-- NOME DO FABRICANTE -->
        </td>
    </tr>

    <tr>
        <td style="width:500px">
            <b>Endereço</b><br>
            <!-- ENDEREÇO -->
        </td>

        <td style="width:300px">
            <b>Contato</b><br>
            <!-- CONTATO -->
        </td>
    </tr>

    <tr>
        <td colspan="2" style="background-color:gray"><b>Informações nutricionais</b></td>
    </tr>

    <tr>
        <td colspan="2">
            <!-- TABELA NUTRICIONAL (será outro HTML/fragmento depois) -->
        </td>
    </tr>

</table>