<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inserir Nutriente</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
    <link rel="stylesheet"
          href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body>

<div th:replace="~{menu :: menu}"></div>

<div class="container mt-5">

    <h1>Inserir Nutriente</h1>
    <div th:if="${erro}" class="alert alert-danger">
        <span th:text="${erro}"></span>
    </div>
    <form th:action="@{/nutrientes/salvar}" method="post">

        <div class="mb-3">

            <label>Nome do Nutriente</label>

            <input type="text"
                   name="eleNome"
                   class="form-control"
                   required>

        </div>

        <div class="mb-3">

            <label>Ordem</label>

            <input type="number"
                   name="eleOrdem"
                   class="form-control"
                   required>

        </div>

        <div class="mb-3">

            <label>Valor Diário Recomendado</label>

            <input type="number"
                   step="0.01"
                   name="eleValorRecomendado"
                   class="form-control"
                   required>

        </div>

        <button type="submit" class="btn btn-success">
            Confirmar Inserção
        </button>

        <a th:href="@{/nutrientes}" class="btn btn-secondary">
            Voltar
        </a>

    </form>

</div>

<div th:replace="~{rodape :: rodape}"></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>