<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nutri - IFTM</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">

</head>

<body class="main-layout">

    <!-- LOADER -->
    <div class="loader_bg">
        <div class="loader">
            <img th:src="@{/images/loading.gif}" alt="#">
        </div>
    </div>

    <!-- MENU -->
    <div th:replace="~{menu :: menu}"></div>

    <!-- ALERTA -->
    <div th:if="${mensagem != null}">
        <script th:inline="javascript">
            alert([[${mensagem}]]);
        </script>
    </div>

    <!-- CONTEÚDO -->
    <div class="three_box">

        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <br><br><br><br>

                    <div class="box_text">

                        <h1>Cadastro de Produtor</h1>

                        <!-- FORM -->
                        <form th:action="@{/produtores/salvar}" method="post">

                            <table width="100%">

                                <tr>
                                    <th width="20%">Produtor</th>
                                    <th width="30%">Endereço</th>
                                    <th width="20%">Contato</th>
                                    <th width="20%">Cooperativa</th>
                                </tr>

                                <tr>

                                    <!-- NOME -->
                                    <td>
                                        <input type="text"
                                               name="fabNome"
                                               placeholder="Nome do produtor"
                                               required>
                                    </td>

                                    <!-- ENDEREÇO -->
                                    <td>
                                        <input type="text"
                                               name="fabEndereco"
                                               placeholder="Endereço"
                                               required>
                                    </td>

                                    <!-- CONTATO -->
                                    <td>
                                        <input type="text"
                                               name="fabContato"
                                               placeholder="Contato"
                                               required>
                                    </td>

                                    <!-- COOPERATIVA -->
                                    <td>

                                        <select name="cooperativa.cooCodigo" required>

                                            <option value="">
                                                Selecione
                                            </option>

                                            <option
                                                th:each="c : ${cooperativas}"
                                                th:value="${c.cooCodigo}"
                                                th:text="${c.cooNome}">
                                            </option>

                                        </select>

                                    </td>

                                </tr>

                            </table>

                            <br>

                            <!-- BOTÕES -->
                            <div>

                                <!-- CONFIRMAR -->
                                <button type="submit"
                                        class="btn btn-success">
                                    Confirmar Cadastro
                                </button>

                                <!-- VOLTAR -->
                                <a href="/produtores"
                                   class="btn btn-secondary">
                                    Voltar
                                </a>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- RODAPÉ -->
    <footer>
        <div th:replace="~{rodape :: rodape}"></div>
    </footer>

    <!-- JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

</body>

</html>