<section class="banner_nadador" th:fragment="menu">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-fluid">
                <div class="carousel-caption">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-bg">
                                <p>
                                    <a th:href="@{/}">Principal</a>
                                    <a th:href="@{/produtores}">Gerenciamento de produtores</a> 
                                    <a th:href="@{/produtos}">Gerenciamento de produtos</a>
                                    <a th:href="@{/nutrientes}">Gerenciamento de nutrientes</a>
                                    <a th:href="@{/tabela}">Gerenciamento de tabelas nutricionais</a>
                                    <a th:href="@{/calculadora}">Calculadora por Receita (TACO)</a>
                                    <a th:href="@{/imprimir}">Imprimir informações da rotulagem</a>
                                    <a th:href="@{/sobre}" style="background-color: lightseagreen">Sobre</a>
                                    <a th:href="@{/calculadora}" class="btn btn-info btn-sm">Calculadora Nutricional</a>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>